/*index.html에 존재하는 body*/
body {
    background-color: #f6f6f6;
    /* body를 flex 컨테이너로 만든다. */
    display: flex;
    /* flex 컨테이너의 자식 요소들을 수평 축 기준으로 가운데 정렬한다. */
    justify-content: center;
    /* flex 컨테이너의 자식 요소들을 수직 축 기준으로 가운데 정렬한다. */
    align-items: center;
    /* body의 최소 높이를 뷰포트(v) 높이(h)의 100%로 설정한다. 이는 body가 최소한 뷰포트의 전체 높이를 차지하도록 한다.*/
    /* 뷰포트란 웹페이지가 표시되는 영역을 뜻한다. 뷰포트의 크기는 브라우저 창의 크기나, 모바일 기기에서는 화면의 크기에 따라 달라진다.*/
    min-height: 100vh;
    /* 기본 마진 제거 */
    margin: 0px;
}

/* CSS 미디어 쿼리를 사용하여 웹페이지의 스타일을 화면 크기에 따라 조절하는 부분이다. */
/* 이 미디어 쿼리는 화면의 최소 너비가 650px이상일 떄 적용 */
@media (min-width: 650px) {
    .App {
        width: 640px;
    }

    /* 미디어 쿼리가 잘 작동하는지 Test하는 부분 실제로 너비가 650이상이 되면 body tag 부분이 black이 된다. */
    /*body{*/
    /*    background-color: black;*/
    /*}*/
}

/*이 미디어 쿼리는 화면의 최대 너비가 650px 이하일떄 적용*/
@media (max-width: 650px) {
    .App {
        width: 90vw;
    }

    /* 미디어 쿼리가 잘 작동하는지 Test하는 부분 실제로 너비가 650이하가 되면 body tag 부분이 green이 된다. */
    /*body{*/
    /*    background-color: green;*/
    /*}*/
}

#root {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;

}

.App section {
    padding-left: 20px;
    padding-right: 20px;
}
/* NotFound */
.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.notfound > div{
    text-align: center;
}
/*PillHeader.js*/
.head_pillMate {
    margin-top: 10px;
    color: #64C964;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ECECEC;
}

.head_pillMate > div {
    display: flex;
}

.head_pillMate .head_left {
    margin-left: 15px;
    justify-content: start;
    font-weight: bold;
    cursor: pointer;

}

.head_pillMate .head_right {
    width: 85%;
    justify-content: end;
    font-weight: bold;

}

/*PillNav.js*/
.pillNav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid #ECECEC;
    margin-left: 60px;
    margin-right: 60px;

    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.pillNav > div {
    display: flex;
}

.pillNav .nav_leftChild {
    width: 30%;
    justify-content: start;
    font-weight: bold;
    cursor: pointer;

}

.pillNav .nav_leftChild_pillMap {
    color: #64C964;

}

.pillNav .nav_centerChild {
    width: 40%;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.pillNav .nav_centerChild_pillFind {
    color: #64C964;

}

.pillNav .nav_centerChild_pillDetailFind {
    color: #64C964;

}

.pillNav .nav_centerChild_pillFindList {
    color: #64C964;

}

.pillNav .nav_rightChild {
    width: 30%;
    justify-content: end;
    font-weight: bold;
    cursor: pointer;
}

.pillNav .nav_rightChild_pillRecord {
    color: #64C964;

}

/*PillSubNav.js*/
.pillSubNav {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.pillSubNav > div {
    display: flex;
}

.pillSubNav .nav_pillSubLeftChild {
    width: 25%;
    justify-content: start;
    cursor: pointer;
    font-size: 16px;
    margin-left: 170px;
    font-weight: bold;
}

.pillSubNav .nav_pillSubLeft_generalSearch {
    color: #64C964;
    cursor: pointer;
}

.pillSubNav .nav_pillSubLeft_freeBoard {
    color: #64C964;
    cursor: pointer;
}

.pillSubNav .nav_pillSubRightChild {
    width: 20%;
    justify-content: end;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}

.pillSubNav .nav_pillSubRight_imageSearch {
    color: #64C964;
    cursor: pointer;

}

.pillSubNav .nav_pillSubRight_qsBoard {
    color: #64C964;
    cursor: pointer;

}

/*PillImageSearch.Js*/

.sampleImageAndText {
    display: flex;
    flex-direction: column; /* 세로로 정렬하려면 column으로 설정 */
    justify-content: center; /* 수직 방향으로 가운데 정렬 */
    align-items: center; /* 수평 방향으로 가운데 정렬 */
    margin-top: 50px;
    font-weight: bold;
}

.sampleImageAndText img {
    width: 100%; /* 이미지의 부모 요소인 .sampleImageAndText의 100%로 너비 조절 */
    height: auto; /* 높이는 자동으로 조절하여 가로세로 비율 유지 */
    max-width: 300px; /* 최대 너비 설정 (예: 400px) */
    max-height: 200px; /* 최대 높이 설정 (예: 300px) */
}

.sampleImageAndText .sampleName {
    padding-right: 220px;
    font-size: 14px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5); /* 검은색 텍스트, 투명도 40% */
}

.sampleImageAndText .pill_explanation_content {
    white-space: normal;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

/*MyButton.js*/
.MyButton {
    cursor: pointer;
    border: none;
    border-radius: 35px;
    /* 버튼 안에 있는 글자가 두줄이 되지 않도록 한다. */
    white-space: nowrap;
}

.MyButton_default {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

.MyButton_cancellation {
    color: #FF0000;
    background-color: #EFC7C7;
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 120px;
    margin-right: 20px;

}
.MyButton_beforeEdit{
    color: #464646;
    background-color: #CACCCA;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 40px;
}
.MyButton_afterEdit{
    color: #64C964;
    background-color: #C7EFC7;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 40px;
}
.MyButton_MyImageChange{
    color: #64C964;
    background-color: #C7EFC7;
    font-size: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 100px;
    padding: 5px 5px;
}

.caution {
    color: red;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 20px;
}

/*PillGeneralSearch*/
.input_box {
    display: flex;
    border-bottom: 3px solid #64C964;
    width: 73%;
    margin-left: 80px;

}

.input_box > input {
    font-size: 20px;
    margin-top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
    /* resize: vertical 속성을 줘서 입력시 가로로 움직이지 못하도록 한다. 즉 세로로 작성된다. */
    resize: vertical;
    padding-bottom: 10px;
    border: none;
}

.item_name_filter {
    text-align: center;
}

/*PillSelectFrame*/
.select_frame {
    display: flex;
    flex-direction: column; /* 세로로 정렬하려면 column으로 설정 */
    justify-content: center; /* 수직 방향으로 가운데 정렬 */
    align-items: center; /* 수평 방향으로 가운데 정렬 */

}


.select_frame .frame_name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 400px;
    margin-top: 40px;

}

.select_frame .frame_item_nowg {
    border: 3px solid #64C964;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    flex-direction: column;
    /* 적당히 가운데로 이렇게 여백을 두면서 모아주는 속성이다. */
    justify-content: space-around;
    margin-top: 10px;

}

.select_frame .frame_item_wg {
    border: 3px solid #64C964;
    width: 400px;
    height: 100px;
    border-radius: 15px;
    flex-direction: column;
    /* 적당히 가운데로 이렇게 여백을 두면서 모아주는 속성이다. */
    justify-content: space-around;
    margin-top: 10px;
}

.select_frame .frame_list_wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);

}

/*FrameItem*/
.frame_item {
    cursor: pointer;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    /* display: flex로 가로로 배치하지만 flex-direciton을 통해서 자식 요소들을 세로로 유지시켜준다. */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame_item img {
    width: 100%;
    margin-bottom: 5px;

}

.frame_item span {
    font-size: 14px;
}

.frame_item .item_red {
    color: red;
}

.frame_item .item_1 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_orange {
    color: orange;
}

.frame_item .item_2 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_yellow {
    color: yellow;
}

.frame_item .item_3 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_green {
    color: green;
}

.frame_item .item_4 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_blue {
    color: blue;
}

.frame_item .item_5 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_white {
    color: black;
}

.frame_item .item_6 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_indigo {
    color: indigo;
}

.frame_item .item_7 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_gray {
    color: rgb(128, 128, 128);
}

.frame_item .item_8 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_purple {
    color: purple;
}

.frame_item .item_9 {
    border-bottom: 1px solid #64C964;
}

.frame_item .item_10 {
    border-bottom: 1px solid #64C964;
}

/*PillListForm.js*/
.pillListItem {
    padding-top: 60px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 35px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.pillListItem .pill_img_wrapper {
    cursor: pointer;
    min-width: 180px;
    height: 120px;
    border-radius: 5px;
    /* 가로로 설정 */
    display: flex;
    justify-content: center;

}

.pillListItem .pill_name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.pillListItem .pill_class_no {
    font-size: 12px;
    margin-top: 5px;

}

.pillListItem .pill_dl_custom_shape {
    font-size: 12px;
    margin-top: 5px;

}

.pillListItem .pill_material {
    font-size: 12px;
    margin-top: 5px;
}

.pillListItem .pill_dl_drug_shape {
    font-size: 12px;
    margin-top: 5px;

}

.pillListItem .info_wrapper {
    /* 왼쪽으로 딱 붙게 해준다. */
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}

/*PillDetailSearchResult*/
.sampleImageAndText .detail_pillName {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    width: 80%;


    border-bottom: 2px solid #e2e2e2;
}



.sampleImageAndText .detail_pillClass {
    margin-left: 60px;
    align-self: flex-start;
    text-align: left;
    max-width: 90%;
}

.sampleImageAndText .detail_pillMaterial {
    margin-left: 60px;
    margin-right: 60px;
    align-self: flex-start;
    margin-top:10px;
    padding-left: 40px; /* Add padding to the left */
    text-indent: -40px; /* Negate the effect of padding on the first line */
}


.sampleImageAndText .detail_pillMaterial_en {
    margin-left: 60px;
    margin-right: 60px;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 40px; /* Add padding to the left */
    text-indent: -40px; /* Negate the effect of padding on the first line */
}

.sampleImageAndText .detail_pillImg {
    min-width: 200px;
    height: 200px;
    border-radius: 5px;
}

.sampleImageAndText .pill_explanation_box {
    margin-top: 60px;
    font-size: 20px;
    width: 80%;
    padding-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;

}
/*PillDetails*/
.sampleImageAndText .PillDetailImages{
    border-radius: 20px;
    margin-top: 100px;

}
.sampleImageAndText .PillDetailName{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;

}
.sampleImageAndText .PillButtonSet{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sampleImageAndText .PillDetailsButton{
    font-size: 20px;
    padding-right: 30px;
    color: #64C964;
    cursor: pointer;
}
.sampleImageAndText .PillReButton{
    font-size: 20px;
    padding-left: 30px;
    cursor: pointer;
}
/*PillRecord*/
.take_pillCount {
    padding-top: 30px;
    padding-left: 40px;
    font-weight: bold;
}

/*화면 상단 판다 로고 or Pillmate*/
.logo-container {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin-top: 50px;
    /*height: 20vh;*/
}

.error-message {
    color: red; /* This sets the text color to red */
    /*margin-bottom: 5px;*/
    font-size: 12px;
    /* Add any other styling you want for the error message here */
}

/* Optional: If you want the image to not exceed certain dimensions, you can add: */
/*img {*/
/*    max-width: 60%; !* Prevents the image from exceeding the width of its container *!*/
/*    max-height:60%; !* Prevents the image from exceeding the height of the viewport *!*/
/*    height: auto; !* Ensures the aspect ratio is maintained *!*/
/*}*/

.loginImage{
    max-width: 100%; /* Prevents the image from exceeding the width of its container */
    max-height:100%; /* Prevents the image from exceeding the height of the viewport */

    height: auto; /* Ensures the aspect ratio is maintained */
}

.registration-form {
    width: 300px; /* Container width */
    margin-top: 20px; /* Adjust this value as needed to increase the top margin */
    margin-right: auto;
    margin-bottom: 0; /* Set to 0 or any specific value if needed */
    margin-left: auto;
    padding: 20px; /* Padding inside the container */
    text-align: center;
}

.registration-form input[type="text"]{
    width: calc(100% - 30px); /* Subtract total horizontal padding from width */
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px; /* Space between inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
}
.registration-form input[type="password"] {
    width: calc(100% - 30px); /* Subtract total horizontal padding from width */
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px; /* Space between inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-form button[type="submit"] {
    width: calc(100% - 10px); /* Subtract total horizontal padding from width */
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.helper-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.text-button {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 14px;
}

/* Add a hover effect for the text buttons */
.text-button:hover {
    text-decoration: underline;
}

/*PillProfile CSS*/
.profile {
    color: white;
    background-color: #64C964; /* Green background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 60vh; !* Full viewport height *!*/
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}


.profileImage {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #969696;
    object-fit: cover; /* 또는 object-fit: contain; */
}

.menu {
    display: flex;
    background-color: #C7EFC7; /* Green background */
    justify-content: space-around;
    max-height: 70px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.options {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu-button {
    background: none;
    border: none;
    color: #64C964;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    padding: 18px;
}
.option-button {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    padding: 18px;
}

/* Add a hover effect for the text buttons */
.profile-button:hover {
    text-decoration: underline;
}

.button:hover {
    background-color: #f5f5f5;
}
.pill_profile_frame{
    padding-right: 220px;
    border-bottom: 2px solid #ECECEC;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.pill_profile_frame .pill_profile_text{
    color:black;
    opacity:50%;
    font-weight: bold;
    padding-right: 100px;
    text-align: center;
    margin-top: 20px;
}
.pill_profile_frame .pillProfileImage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.pill_profile_frame .profileText{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    border: none; /* border를 없앰 */
    outline: none; /* 포커스 효과를 없앰 */
    background-color: transparent; /* 배경 색을 투명으로 설정 */
    cursor: text; /* 텍스트 입력 모드 커서로 설정 */
    pointer-events: none; /* 마우스 이벤트 비활성화 */
}
.pill_profile_frame .profileText_아이디{
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    border: none; /* border를 없앰 */
    outline: none; /* 포커스 효과를 없앰 */
    background-color: transparent; /* 배경 색을 투명으로 설정 */
    cursor: text; /* 텍스트 입력 모드 커서로 설정 */
    pointer-events: none; /* 마우스 이벤트 비활성화 */

}

.pill_profile_frame .pill_profile_text_frame{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.pill_profile_frame .pill_profileImage{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 2px solid #969696;
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*PillMyEditPassword*/
.pillMyEditPassword{
    padding-left: 295px;

}
.pillMyEditPassword .pill_password{
    color:black;
    opacity:50%;
    margin-top: 10px;

}
/*버튼 수정*/
.section-detail_button {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    height: 100vh; /* Full viewport height */
}

.detail_effect {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-right: 15px;
}

.detail_effect:hover {
    background-color: #4CAF50;
    color: white;
}

.effectiveness_text {
    max-width: 80%;
    margin-top: 20px; /* Space from the buttons */
    font-size: 14px; /* Adjust font size as needed */
    color: black; /* Text color */
    font-weight: bold;
    /* Additional styling as needed */
}

.display_text {
    margin-top: 25px; /* Space from the buttons */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold;
    color: black; /* Text color */
    /* Additional styling as needed */
}
/*map*/
.pill_map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height as needed */
}

.pill_map {
    width: 80%;
    height: 350px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.searchPill {
    padding: 10px;
    width: 60%; /* Or as per your design requirements */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto; /* This will ensure the margin is distributed above and below the input */
}

/* Optional: Add some transition for focus effect */
.searchPill:focus {
    outline: none;
    border-color: #32CD32; /* LimeGreen color */
    box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.25);
}

/* Add this CSS to your stylesheet or <style> tag in your component */

/* This will remove the bullet points from the list */
ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0 auto; /* Centers the list in the container with auto margins on both sides */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks the flex items (li) vertically */
    align-items: center; /* Centers the flex items horizontally */
    width: 100%; /* Full width to center within */
}

/* This will style each list item to display in a horizontal line */
li {
    display: flex; /* Aligns items in a row */
    justify-content: space-between; /* Puts space between the items */
    align-items: center; /* Centers items vertically */
    padding: 5px 0; /* Adds some padding above and below each item */
}

/* You may want to add some additional styling to the div that contains each marker's details */
.marker-details {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}
.nearInform {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: bold;
    color: black; /* Lighter text color if there's no phone number */
    border-bottom: 2px solid #ECECEC;
}
.content {
    font-weight: bold;
    color: #666; /* Lighter text color if there's no phone number */
}
.active-content {
    color: #4CAF50; /* Or any color you want for the active marker */
    border-bottom: 2px solid #ECECEC;
}
/* Style for the phone number to ensure it is visible if there is no phone number */
.phone-number {
    text-align: left;
    color: #666; /* Lighter text color if there's no phone number */
}